/* app.css */

body {
  background-color: rgb(7, 196, 221);
}

.CentralGuestListModule {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 100vh;
}

.label-input-container {
  display: flex;
  align-items: center;
}

.label-input-container label.lastname {
  margin-left: 5px;
}

.label-input-container input {
  margin-top: 12px;
}

.CentralGuestListModule h1 {
  color: rgb(30, 9, 151);
  font-family: 'Comic Sans MS', cursive;
  border: 2px solid rgb(150, 7, 7);
  padding: 10px;
  display: inline-block;
}

.guest-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.guest-label {
  color: rgb(117, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}

input {
  margin-bottom: 10px;
  width: 180px;
}

button {
  background-color: brown;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.MainButton {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: rgb(12, 179, 6);
}

.MainButton:hover {
  background-color: rgb(3, 134, 36);
}

button:hover {
  background-color: rgb(131, 4, 4);
}

button:active {
  background-color: rgb(100, 26, 3);
}

.guest-actions {
  display: flex;
  align-items: center;
}

.guest-actions button {
  margin-left: 10px;
}

.guest-name {
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.2rem;
  margin-top: 20px;
}

.attending-status {
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.2rem;
}
.attending-status.attending {
  color: rgb(3, 153, 10);
}

.attending-status.not-attending {
  color: rgb(209, 6, 6);
}

label.firstname,
label.lastname {
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.2rem;
  font-weight: bold;
}
